<h1>CPB : <%=@cpb_score%></h1>
<br>
<%opacity= 1%>
<%@sequence_arr.each_with_index do |x,i|%>
  <%if i.even?%>
    <%first = x%>
    <%second = @sequence_arr[i+1]%>
    <%third = @sequence_arr[i+2]%>
    <div style="display:inline-block;position:relative; width:60px;font-size:0; text-align:center; margin-bottom:10px;">
      <div>
        <div style="display:inline-block;width:50%;font-size:15px; text-align:center;">
          <%=first.gsub("U","T")%>
        </div>
        <div style="display:inline-block;width:50%;font-size:15px; text-align:center;">
          <%=second.gsub("U","T")%>
        </div>
      </div>
      <%if second != nil and third != nil and @combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"] != nil %>
        <%if @combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"].round(4) >= 0%>
          <div style="text-align:center; font-size:8px; position:absolute; left:47.00px;width:32.2px; background-color: rgba(255,0,0,<%= opacity * ((@combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"] - @positive_cps_min) / (@positive_cps_max - @positive_cps_min)).abs%>);">
        <%else%>
          <div style="text-align:center; font-size:8px; position:absolute; left:47.00px;width:32.2px; background-color: rgba(0,119,221,<%=  opacity * ((@combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"] - @negative_cps_min) / (@negative_cps_max - @negative_cps_min)).abs%>);">
        <%end%>
        <% if @combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"] != nil%>
          <span ><%=@combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"].round(4)%></span>
        <%end%>
        </div>
      <%else%>
        <div style="text-align:center; font-size:8px; position:absolute; left:47.00px;width:32.2px; background:black;">
          terminal
          <span style="color:white">terminal</span>
        </div>
      <%end%>

      <%if first != nil and second != nil and @combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"] != nil%>
        <%if @combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"].round(4) >= 0%>
          <div style="text-align:center; font-size:8px; position:absolute; left:15.00px;width:32.2px; background-color: rgba(255,0,0,<%= opacity * ((@combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"] - @positive_cps_min) / (@positive_cps_max - @positive_cps_min)).abs%>);">
        <%else%>
          <div style="text-align:center; font-size:8px; position:absolute; left:15.00px;width:32.2px; background-color: rgba(0,119,221,<%=  opacity * ((@combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"] - @negative_cps_min) / (@negative_cps_max - @negative_cps_min)).abs%>);">
        <%end%>
          <%=@combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"].round(4)%>
          </div>
      <%else%>
          <div style="text-align:center; font-size:8px; position:absolute; left:15.00px;width:32.2px; background:black;">
              <span style="color:white">terminal</span>
          </div>
      <%end%>
    </div>
  <%end%>
<%end%>
