<h1>CPB : <%=@cpb_score%></h1>
<br>
<%opacity= 1%>
<%@sequence_arr.each_with_index do |x,i|%>
  <%if i.even?%>
    <%first = x%>
    <%second = @sequence_arr[i+1]%>
    <%third = @sequence_arr[i+2]%>
<div style="display:inline-block;position:relative; width:60px;font-size:0; text-align:center; margin-bottom:30px;">
  <div>
    <div style="display:inline-block;width:50%;font-size:15px; text-align:center;">
      <div style="display:block; font-size:10px; border-top:1px solid black;">
        <%=i + 1%>
      </div>
      <div style="display:block; font-size:8px; word-break: break-word; height:20px;">
        <%=@aminoacid_full_name[@translation[first]]%>
      </div>
      <div style="font-size:15px; text-align:center;">
        <%=first.gsub("U","T")%>
      </div>
    </div>
    <div style="display:inline-block;width:50%;font-size:15px; text-align:center;">
      <div style="display:block; font-size:10px;border-top:1px solid black;">
        <%=i + 2%>
      </div>
      <div style="display:block; font-size:8px; word-break: break-word; height:20px;">
      <% if !second.nil?%>
        <%=@aminoacid_full_name[@translation[second]]%>
      <%end%>
      </div>
      <div style="font-size:15px; text-align:center;">
      <% if !second.nil?%>
        <%=second.gsub("U","T")%>
      <%end%>
      </div>
    </div>
  </div>
      <%if third != nil and second != nil%>
        <%if second != nil and third != nil and @combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"] != nil %>

  <div>
          <%if @combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"].round(4) >= 0%>
    <div style="text-align:center; font-size:8px; position:absolute; left:47.00px;width:32.2px; background-color: rgba(255,0,0,<%= opacity * ((@combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"] - @positive_cps_min) / (@positive_cps_max - @positive_cps_min)).abs%>);">
          <%else%>
    <div style="text-align:center; font-size:8px; position:absolute; left:47.00px;width:32.2px; background-color: rgba(0,119,221,<%=  1 - opacity * ((@combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"] - @negative_cps_min) / (@negative_cps_max - @negative_cps_min)).abs%>);">
          <%end%>
          <% if @combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"] != nil%>
            <span ><%=@combination_cps["#{second.gsub("U","T")}-#{third.gsub("U","T")}"].round(4)%></span>
            <br>
            <span style="color:#777; font-size:7px;"><%=@minimal_candidate_arr[i+1]%></span>
            <br>
            <span style="color:#777"><%=@minimal_candidate_cpses[i+1].round(4)%></span>
          <%end%>
    </div>
  </div>
        <%else%>
  <div style="text-align:center; font-size:8px; position:absolute; left:47.00px;width:32.2px; background:black;">
    <span style="color:white">terminal</span>
  </div>
        <%end%>
      <%else%>
  <div style="text-align:center; font-size:8px; position:absolute; left:47.00px;width:32.2px; background:black;">
    <span style="color:white">terminal</span>
  </div>
      <%end%>

      <%if first != nil and second != nil and @combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"] != nil%>

  <div>
        <%if @combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"].round(4) >= 0%>
    <div style="text-align:center; font-size:8px; position:absolute; left:15.00px;width:32.2px; background-color: rgba(255,0,0,<%= opacity * ((@combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"] - @positive_cps_min) / (@positive_cps_max - @positive_cps_min)).abs%>);">
        <%else%>
    <div style="text-align:center; font-size:8px; position:absolute; left:15.00px;width:32.2px; background-color: rgba(0,119,221,<%= 1 - opacity * ((@combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"] - @negative_cps_min) / (@negative_cps_max - @negative_cps_min)).abs%>);">
        <%end%>
        <span><%=@combination_cps["#{first.gsub("U","T")}-#{second.gsub("U","T")}"].round(4)%></span>
        <br>
        <span style="color:#777; font-size:7px;"><%=@minimal_candidate_arr[i]%></span>
        <br>
        <span style="color:#777"><%=@minimal_candidate_cpses[i].round(4)%></span>
    </div>
  </div>
      <%else%>
  <div style="text-align:center; font-size:8px; position:absolute; left:15.00px;width:32.2px; background:black;">
    <span style="color:white">terminal</span>
  </div>
      <%end%>
  </div>
  <%end%>
<%end%>
